# Server
PORT=4000

# Database
DATABASE_URL="postgresql://wgtuogyq:TGRx5Pit-pnA2dOA9SmDzYcdBIeabR1u@bubble.db.elephantsql.com/wgtuogyq"
POSTGRES_USER=default
POSTGRES_PASSWORD=1234
POSTGRES_DB=thunder

# Jwt
JWT_SECRET="#ice%cre@#ame91njo@@yer@#"

# Mailer 
DISPLAY_NAME=LowRacing
EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=587
EMAIL_USERNAME=contact@lowracing.com
EMAIL_PASSWORD=br10-car60@DEV

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672